a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
input.form-control:focus {
    outline: 1px solid blue;
    box-shadow: none;
}
.table {
    text-align: center;
}
.navbar {
    background-color:slategray;
    color: whitesmoke;
    margin-bottom: 10px;
}

.nav-item {
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
}
.nav-item a:hover {
color: black !important;
}

.nav-item:hover {
    color:black;
}

.home td, .home th {
    width: 50%;
}

.custom-btn {
    background-color: slategray;
    color: whitesmoke; 
}

.custom-btn:hover {
    background-color: darkslategray;
    color: whitesmoke; 
}