<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}talentTree{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}"> 
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <!-- <script src="https://unpkg.com/popper"></script> -->
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/static/images/icon.png" alt="logo"style= "width: 30px; height: auto;">
                <span>talentTree</span>
            </a>
          </div>
        
        <ul class="nav ml-auto justify-content-center">
            {% if not g.user %}
            <li class="nav-item nav-link"><a href='/signup'>Sign Up </a></li>
            <li class="nav-item nav-link"><a href='/login'>Log In</a></li>
            {% else %}
                {% if g.user.is_admin %}
                <li class="nav-item nav-link"><a href='/invite'>Invite</a></li>
                {% endif %}
            <li class="nav-item nav-link"><a href='/companies'>Companies</a></li>
            <li class="nav-item nav-link"><a href='/organizations/{{ g.user.organization_id }}'>{{ g.user.email }}</a></li>
            <li class="nav-item nav-link"><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='app.js') }}"></script>

    </div>   
</body>
</html>