{% extends 'base.html' %}
{% block title %}talentTree - {{ org.name }}{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2>{{ org.name }} Companies:</h2><br>
            <a href="/companies/new"><button class="btn btn-primary btn-lg btn-block">create company</button></a><br>
            {% if companies %}
                {% for c in companies %}
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item" style="width: 50%;"><a href="/companies/{{ c.id }}">{{ c.name }}</a></li>
                    <li class="list-group-item" style="width: 50%;"><a href="{{ c.domain }}">{{ c.domain }}</a></li>
                </ul>
                {% endfor %}
            {% else %}
                <li>No companies yet!</li>
            {% endif %}
        
    </div>
</div>
{% endblock %}