{% extends 'base.html' %}
{% block title %}talentTree {{ company.name }}{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h1 class="join-message">{{ company.name }} details</h1><br>
      <h2>{{ company.name }} Employees:</h2>
        {% if employees %}
        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">headline</th>
                    </tr>                        
                </thead>
                <tbody>
                    {% for e in employees %}
                        <tr>
                            <td>{{ e.first_name }} {{ e.last_name }}</td>
                            <td>{{ e.headline }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>  
        {% else %}
            No employees yet!
        {% endif %}  
 <h2>{{ company.name }} Alumni:</h2>
        {% if alumni %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">headline</th>
                    </tr>                        
                </thead>
                <tbody>
                    {% for a in alumni %}
                        <tr>
                            <td>{{ a.first_name }} {{ a.last_name }}</td>
                            <td>{{ a.headline }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% else %}
            No alumni yet!
        {% endif %}

    </div>
  </div>
{% endblock %}