{% extends 'base.html' %}
{% block title %}talentTree - {{ org.name }}{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2>{{ org.name }} Companies:</h2><br>
            <a href="/companies/new"><button class="btn btn-primary btn-lg btn-block">create company</button></a><br>
            {% if companies %}
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">domain</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        {% for c in companies %}
                            <tr>
                                <td><a href='/companies/{{ c.id }}'>{{ c.name }}</a></td>
                                <td><a href='{{ c.domain }}'>{{ c.domain }}</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                No companies yet!
            {% endif %}
        
    </div>
</div>
{% endblock %}