{% extends 'base.html' %}
{% block title %}talentTree - Maps{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2>{{ org.name }} Maps:</h2><br>
            <a href="/maps/new"><button class="btn btn-primary btn-lg btn-block">create contact map</button></a><br>
            {% if maps %}
                {% for m in maps %}
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item" style="width: 100%;"><a href="/maps/{{ m.id }}">{{ m.name }}</a></li>
                </ul>
                {% endfor %}
            {% else %}
                <li>No maps yet!</li>
            {% endif %}
        
    </div>
</div>
{% endblock %}