{% extends 'base.html' %}
{% block title %}talentTree - Maps{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2>{{ org.name }} Maps:</h2><br>
            <a href="/maps/new"><button class="btn btn-primary btn-lg btn-block">create contact map</button></a><br>
            {% if maps %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">level</th>
                            <th scope="col">functions</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        {% for m in maps %}
                            <tr>
                                <td><a href='/maps/{{ m.id }}'>{{ m.name }}</a></td>
                                <td>{{ m.level.name }}</td>
                                <td>{% for f in m.functions %}{{ f.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
               No maps yet!
            {% endif %}
        
    </div>
</div>
{% endblock %}