{% extends 'base.html' %}
{% block title %}talentTree - {{ org.name }}{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2>{{ org.name }} Profiles:</h2><br>
            <a href="/profiles/new"><button class="btn btn-primary btn-lg btn-block">create profile</button></a><br>
            {% if profiles %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">headline</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        {% for p in profiles %}
                            <tr>
                                <td><a href='/profiles/{{ p.id }}'>{{ p.first_name }} {{ p.last_name }}</a></td>
                                <td>{{ p.headline }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No profiles yet!
            {% endif %}        
    </div>
</div>
{% endblock %}